<!-- <a routerLink="home">home</a><br>
<a routerLink="aboutus">contactus</a><br>
<a routerLink="contactus">aboutus</a> -->
  
<div  class="bgimage">
    <img src="assets/image2.png" alt="bgimage">
    <img src="assets/image3.png" alt="logo" id="logo">
    <p>Discover the best food & drinks in zomato</p>
    <input type="search" name="search" id="search" placeholder="search here">
   <a routerLink="cart"> <p class="cart" >cart</p></a>
</div>
<div class="cards">
    <div >
        <a routerLink="product">
<img src="assets/image4.png" alt="image4">
</a>

<p>Order food online</p>
    </div>
    <div>
<img src="assets/image5.png" alt="image5">
<p>Go out for a meal</p>
    </div>
    <div>
<img src="assets/image6.png" alt="image6">
<p>Zomato pro</p>
    </div>
   
</div>

<router-outlet></router-outlet>
